IMESSAGE_HOST=127.0.0.1
IMESSAGE_PORT=8080
IMESSAGE_DB_PATH=~/Library/Messages/chat.db
IMESSAGE_INDEX_DB_PATH=~/Library/Application Support/imessage-handler/index.sqlite
IMESSAGE_SYNC_INTERVAL_SECONDS=30
IMESSAGE_API_TOKEN=change-me
